
    body{
        text-align:center;
    }
    header{
        text-align: center;
    }
    h1{
        font-size: 25px;font-weight: bolder;
    }
    .box{
        background-color: #FFFFCC;
        height: 1000px;
    }
    table.ittable tr.ittr {
        background-color:#99CCCC;
        font-weight: bolder;
    }
    table.ittable tr{
        background-color: #FFFFCC;
        border:1px solid #CCFFCC ;
    }
    table.ittable tr.ittr td.ittd {
        width: 200px;
        text-align: center;
        border:1px solid #CCFFCC ;
    }
    table.ittable tr.ittr td.ittd2{
        width: 100px;
        border:1px solid #CCFFCC;
    }
    #Num{
        text-align: center;
        width: 100px;
    }
